<div class="bg-white h-dvh p-20">
    <h1 class="text-6xl text-black font-semibold">Teams</h1>
  
    <div class="mt-32">
      <div id="search-bar" class="mb-4 gap-2.5 flex items-center md:justify-between text-md">
        <div class="relative w-1/4">
          <input type="text" placeholder="Search Team"
            class="pl-4 py-3 w-full bg-white border-search-box border-2 rounded-lg text-2xl" />
          <svg xmlns="http://www.w3.org/2000/svg" class="absolute right-6 top-1/2 -translate-y-1/2 w-5 h-5" width="20"
            height="20" viewBox="0 0 16 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M6 2C3.79086 2 2 3.79086 2 6C2 8.20914 3.79086 10 6 10C8.20914 10 10 8.20914 10 6C10 3.79086 8.20914 2 6 2ZM0 6C0 2.68629 2.68629 0 6 0C9.31371 0 12 2.68629 12 6C12 7.29583 11.5892 8.49572 10.8907 9.47653L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L9.47653 10.8907C8.49572 11.5892 7.29583 12 6 12C2.68629 12 0 9.31371 0 6Z"
              fill="#9CA3AF" />
          </svg>
        </div>
      </div>
  
      <div class="bg-table-bg rounded-3xl p-10">
        <div id="all-team" class="flex justify-between items-center">
          <div id="left-side" class="flex text-3xl items-center justify-around w-1/4 border-b-4 border-orange-line mb-10">
            <svg class="w-20" fill="rgb(242 169	59)" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
              stroke="rgb(242	169	59)	">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path d="M7.8 10a2.2 2.2 0 0 0 4.4 0 2.2 2.2 0 0 0-4.4 0z"></path>
              </g>
            </svg>
            <h3 class="text-black font-medium whitespace-pre px-4">All Teams</h3>
  
            <div class="bg-gray-200 rounded-full px-3 py-1 relative
                         flex justify-center items-center">
              <p class="text-black  text-2xl ">5</p>
            </div>
          </div>
  
          <button class="btn btn-active text-2xl text-white bg-purple-button">
            <div class="flex items-center justify-around w-40">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 11 11" fill="none" class="">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.55203 0.904297C5.93978 0.904297 6.25412 1.21863 6.25412 1.60638V5.1168H9.76453C10.1523 5.1168 10.4666 5.43113 10.4666 5.81888C10.4666 6.20663 10.1523 6.52096 9.76453 6.52096H6.25412V10.0314C6.25412 10.4191 5.93978 10.7335 5.55203 10.7335C5.16428 10.7335 4.84995 10.4191 4.84995 10.0314V6.52096H1.33953C0.951785 6.52096 0.637451 6.20663 0.637451 5.81888C0.637451 5.43113 0.951785 5.1168 1.33953 5.1168H4.84995V1.60638C4.84995 1.21863 5.16428 0.904297 5.55203 0.904297Z"
                  fill="white" />
              </svg>
              Add User
            </div>
          </button>
        </div>
  
        <div class="overflow-visible">
          <table class="table rounded-lg text-xl">
            <thead class="bg-thead border-gray-200 border-2 rounded-t-3xl text-xl text-gray-400">
              <th>NAME</th>
              <th>KEY</th>
              <th>DESCRIPTION</th>
              <th>LEAD</th>
              <th>MEMBERS</th>
              <th>PROJECT ACTIVE</th>
              <th>MORE ACTIONS</th>
            </thead>
  
            <tbody class="bg-white text-gray-400 border-gray-200">
                <td></td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>