<div class="card">
  <div class="flex justify-content-between align-items-center mb-2">
    <h3 class="text-900">{{ project?.name || 'Untitle'}}</h3>
    <div id="action">
      <!-- <button pButton pRipple class="p-button-outlined font-semibold" icon="pi pi-plus" label="Create Task"></button> -->
    </div>
  </div>
  <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onActivePageChange($event)"/>
  <app-project-tree-table-view
    *ngIf="activeItem?.id === 'table'"
    [(tasking)]="tasking"
  />
</div>
<app-project-task-form [(task)]="tasking" [project]="project" />
<p-toast key="projectView"></p-toast>
