<div class="card">
    <h5>TreeTable</h5>
    <p-treeTable #dt [value]="tasks" [columns]="cols" selectionMode="checkbox">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column align-items-center sm:flex-row">
                <div>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)" placeholder="Search Keyword" class="w-full"/>
                    </span>
                </div>
                <div class="flex gap-3">
                    <button
                        pButton
                        label="Add Task"
                        class="p-button-outlined mb-2"
                        icon="pi pi-plus"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
                <td *ngFor="let col of columns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                    <p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0"></p-treeTableCheckbox>
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>