<p-card [styleClass]="styleClass">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center p-3">
            <h3 class="m-0">Working On</h3>
        </div>
    </ng-template>

    <div class="projects">
        <p-message *ngIf="projects.length === 0" severity="info" text="You aren't working on any projects yet." [style]="{ width: '100%' }"></p-message>
        
        <div *ngFor="let project of projects; let i = index" class="project-item mb-4">
            <p-panel [toggleable]="true" [collapsed]="false">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center">
                        <p-avatar [image]="getImage(project.imageUrl)" shape="square" size="large" class="mr-3" 
                                 (onImageError)="onImageError(i)"></p-avatar>
                        <div>
                            <a [routerLink]="['/projects', project.id]" class="no-underline">
                                <div class="font-medium text-xl text-primary hover:text-primary-600">{{project.name}}</div>
                            </a>
                            <div class="text-sm text-color-secondary">{{project.description}}</div>
                        </div>
                    </div>
                </ng-template>
                
                <ng-container *ngIf="project.tasks?.length; else noTasks">
                    <p-table [value]="project.tasks || []" styleClass="p-datatable-sm" responsiveLayout="scroll">
                        <ng-template pTemplate="body" let-task let-taskIndex="rowIndex">
                            <tr>
                                <td>
                                    <div class="flex align-items-center cursor-pointer" >
                                         <span class="font-medium mr-2 cursor-pointer"
                                                (click)="openDetail(project.id, task)">
                                            {{task.code}}:
                                         </span>
                                         <span class="text-primary hover:text-primary-600 cursor-pointer"
                                                (click)="openDetail(project.id, task)">
                                            {{task.summary}}
                                        </span>
                                    </div>
                                    <div class="flex align-items-center mt-2 justify-content-between flex-wrap gap-2">
                                        <div class="flex align-items-center flex-wrap gap-2">
                                            <span class="mr-1">Status:</span>
                                            <p-tag [severity]="getTagSeverity(task.status)" 
                                                  [value]="getTaskStatusIcon(task.status).label" 
                                                  [icon]="getTaskStatusIcon(task.status).icon">
                                            </p-tag>
                                            <p-chip *ngIf="task.assignee" 
                                                   [label]="task.assignee.firstName + ' ' + task.assignee.lastName" 
                                                   [image]="getImage(task.assignee.imageUrl)" 
                                                   styleClass="ml-auto sm:ml-2 mr-2"
                                                   (onImageError)="onAssigneeImageError(i, taskIndex)">
                                            </p-chip>
                                        </div>
                                        
                                        <div class="ml-auto">
                                            <p-menu #menu [popup]="true" [model]="getStatusMenuItems(task.id, i, taskIndex)" [appendTo]="'body'"></p-menu>
                                            <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-sm" (click)="menu.toggle($event)"></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
                
                <ng-template #noTasks>
                    <p-message severity="info" text="No tasks assigned in this project." [style]="{ width: '100%' }"></p-message>
                </ng-template>
            </p-panel>
        </div>
    </div>
</p-card>

<app-task-detail-dialog
  #taskDetail
  [projectId]="selectedProjectId"
  (save)="onDetailSave($event)"
  (close)="taskDetail.onHide()"
></app-task-detail-dialog>