<div class="flex">
  <div class="avatar z-50 w-10">
    <div [ngClass]="[iconOutline]">
      <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
    </div>
  </div>
  
  <div class="avatar z-50 w-10 -ml-4">
    <div [ngClass]="[iconOutline]">
      <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
    </div>
  </div>
  
  <div class="avatar z-50 w-10 -ml-4">
    <div [ngClass]="[iconOutline]">
      <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
    </div>
  </div>
</div>

