<p-dropdown 
  [options]="statuses"
  [optionLabel]="label"
  [(ngModel)]="selectedStatus"
  (onChange)="onChange($event)"
  [ngClass]="ngClass"
  placeholder="Select Status">
  <ng-template pTemplate="selectedItem">
    <div class="flex align-items-center gap-2" *ngIf="selectedStatus">
      <div class="flex align-items-center gap-2">
        <i [ngClass]="getItem(selectedStatus.value).icon" class="w-1rem"></i>
        <div>{{ getItem(selectedStatus.value).label }}</div>
      </div>
    </div>
  </ng-template>
  <ng-template let-status pTemplate="item">
    <div class="flex align-items-center gap-2 z-9999">
      <i [ngClass]="getItem(status.value).icon" class="w-1rem"></i>
      <div>{{ getItem(status.value).label }}</div>
    </div>
  </ng-template>
</p-dropdown>