th[attr="columnheader"] {
  color: red !important;
}

table {
  width: 100%;
  @apply  rounded-t-3xl border-2
}

table th {
  text-transform: uppercase;
  @apply bg-thead border-gray-200 text-xl uppercase font-bold text-gray-500
}
th {
  border-bottom: 2px solid black !important;
}
td {
  border-bottom: 2px solid black;
}