<div class="bg-white h-full p-14">
  <h1 class="text-6xl text-black font-semibold">Projects</h1>
  <div class="mt-32">
    <div id="search-bar" class="mb-4 gap-2.5 flex items-center text-md">
      <label class="relative block w-1/5">
        <app-filter-svg/>
        <select
          class="pl-12 py-3 w-full bg-white border-search-box border-2 rounded-lg text-2xl appearance-none"
        >
          <option value="">Status</option>
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
        </select>
        <app-arrow-down-svg/>
      </label>

      <label class="relative block w-1/5">
        <app-filter-svg/>
        <select
          class="pl-12 py-3 w-full bg-white border-search-box border-2 rounded-lg text-2xl appearance-none"
        >
          <option value="">Category</option>
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
        </select>
        <app-arrow-down-svg/>
      </label>
      <div class="relative w-1/4">
        <input
          type="text"
          placeholder="Search Projects"
          class="pl-4 py-3 w-full bg-white border-search-box border-2 rounded-lg text-2xl"
        />
        <app-magneifying-glass-svg/>
      </div>
    </div>

    <div class="table-panel">
      <div id="all-team" class="mb-8 flex justify-between items-center">
        <app-table-header [count]="rowCount" [tableHeader]="tableHeader" />

        <button class="btn-add" onclick="my_modal_1.showModal()">
          <div class="flex items-center justify-around w-36 gap-2.5">
            <app-plus-svg />
            Add Project
          </div>
        </button>
      </div>

      <div class="overflow-hidden overflow-x-auto">
        <app-dynamic-table #dyntable>
          <tr *ngFor="let row of data">
            <td class="data-padding">{{ row.name }}</td>
            <td class="data-padding">{{ row.key }}</td>
            <td class="data-padding">{{ row.description }}</td>
            <td class="data-padding">
              {{ row.status || "Pending" }}
            </td>
            <td class="data-padding">
              <div class="avatar">
                <div class="h-12 w-12 rounded-full">
                  <img
                    src="https://media-rockstargames-com.akamaized.net/rockstargames-newsite/img/global/downloads/buddyiconsconavatars/rdr2_tshirt_linocut_textured_256x256.jpg"
                    alt="Avatar"
                  />
                </div>
              </div>
            </td>
            <td class="data-padding">
              {{ row.category || "General" }}
            </td>
            <td class="data-padding">
              <div class="dropdown">
                <div
                  tabindex="0"
                  role="button"
                  class="btn m-1 border-transparent bg-transparent hover:fill-white"
                >
                  <app-three-dot-svg/>
                </div>
                <ul
                  tabindex="0"
                  class="dropdown-content menu bg-white rounded-box w-52 p-2 z-50 shadow text-lg font-medium"
                >
                  <li><a>Show details</a></li>
                  <li><a>Edit</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </app-dynamic-table>
      </div>
    </div>
  </div>
</div>
`
