<p-dialog
  [(visible)]="visible"
  [style]="{ width: '450px', height: '80vh' }"
  [header]="team ? 'Edit Team' : 'Create Team'"
  [modal]="true"
  styleClass="p-fluid team-dialog"
  (onHide)="closeDialog()"
  [maximizable]="true"
  [baseZIndex]="1000"
>
  <p-toast></p-toast>
  <ng-template pTemplate="content">
    <div class="form-container">
      <form [formGroup]="teamForm">
        <img [src]="imagePreview" [alt]="team?.name" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="imagePreview">
        <div class="field">
          <label for="name">Team Name</label>
          <input id="name" type="text" pInputText formControlName="name" required />

          <small class="p-error" *ngIf="isSubmitted && formControls['name'].errors?.['required']">
            Team name is required.
          </small>
          <small class="p-error" *ngIf="isSubmitted && formControls['name'].errors?.['minlength']">
            Team name must be at least 3 characters long.
          </small>
        </div>

        <app-user-autocomplete
          [form]="teamForm"
          controlName="leader"
          labelFor="Team Leader"
          [multiple]="false"
          [dropdown]="true"
          [limit]="1"
        ></app-user-autocomplete>
        <small class="p-error" *ngIf="isSubmitted && formControls['leader'].errors?.['required']">
          Team leader is required.
        </small>

        <app-user-autocomplete
          [form]="teamForm"
          controlName="members"
          labelFor="Members"
          [multiple]="true"
          [dropdown]="true"
          [limit]="null"
        ></app-user-autocomplete>
        <small class="p-error" *ngIf="isSubmitted && formControls['members'].errors?.['required']">
          At least one member is required.
        </small>
        
        <div class="field">
          <label for="cover">Cover Image</label>
          <p-fileUpload
            id="cover"
            mode="basic"
            name="cover"
            accept="image/*"
            [maxFileSize]="3000000"
            styleClass="p-button-outlined p-button-plain"
            chooseLabel="Upload Image"
            (onSelect)="onSelectImage($event)"
          ></p-fileUpload>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="closeDialog()"/>
    <p-button
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      [disabled]="loading"
      (click)="onSave()"/>
  </ng-template>
</p-dialog>

