<p-dialog
  [(visible)]="visible"
  [style]="{ width: '450px' }"
  [header]="team ? 'Edit Team' : 'Create Team'"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="closeDialog()"
>
  <ng-template pTemplate="content">
    <form [formGroup]="teamForm">
      <div class="field">
        <label for="name">Team Name</label>
        <input id="name" type="text" pInputText formControlName="name" required autofocus />
        <small class="p-error" *ngIf="isSubmitted && formControls['name'].errors?.['required']">
          Team name is required.
        </small>
        <small class="p-error" *ngIf="isSubmitted && formControls['name'].errors?.['minlength']">
          Team name must be at least 3 characters long.
        </small>
      </div>

      <div class="field">
        <label for="leaderId">Team Leader</label>
        <input id="leaderId" type="text" pInputText formControlName="leaderId" required />
        <small class="p-error" *ngIf="isSubmitted && formControls['leaderId'].errors?.['required']">
          Team leader is required.
        </small>
      </div>

      <div class="field">
        <label for="members">Members</label>
        <input id="members" type="text" pInputText formControlName="members" required />
        <small class="p-error" *ngIf="isSubmitted && formControls['members'].errors?.['required']">
          At least one member is required.
        </small>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="closeDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSave()"></button>
  </ng-template>
</p-dialog>

