<p-dialog
    [(visible)]="visible"
    (onHide)="onHide()"
    [style]="{width: '450px'}"
    [header]="project ? 'Edit' : 'Create' + ' Project'"
    [modal]="true"
    class="p-fluid">

    <ng-template pTemplate="content">
        <form [formGroup]="projectForm">
            <img [src]="project?.imageUrl" [alt]="project?.key" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="project?.imageUrl">
            <div class="field" *ngIf="!isPatch">
                <label for="key">Key <span class="text-red-600">*</span></label>
                <input formControlName="key" type="text" pInputText id="key" oninput="this.value = this.value.toUpperCase()"/>
                <small class="ng-dirty ng-invalid" *ngIf="key?.errors?.['required'] && key?.touched">Key is required.</small>
                <small class="ng-dirty ng-invalid" *ngIf="key?.errors?.['minlength'] && key?.touched">Key length is 4</small>
            </div>
            <div class="field">
                <label for="name">Name <span class="text-red-600">*</span></label>
                <input formControlName="name" type="text" pInputText id="name"/>
                <small class="ng-dirty ng-invalid" *ngIf="name?.errors?.['required'] && name?.touched">Name is required.</small>
                <small class="ng-dirty ng-invalid" *ngIf="name?.errors?.['minlength'] && name?.touched">Minimum charaters length is 6</small>
            </div>
            <div class="field">
                <label for="description">Description</label>
                <input formControlName="description" type="text" pInputText id="description"/>
                <small class="ng-dirty ng-invalid" *ngIf="description?.errors?.['required'] && description?.touched">Description is required.</small>
            </div>
            <div class="field">
                <label for="status">Status</label>
                <p-dropdown
                    formControlName="status"
                    inputId="status"
                    optionValue="label"
                    [options]="statuses"
                    [ngClass]="{'ng-dirty ng-invalid': status?.invalid && status?.touched }" 
                    placeholder="Select"></p-dropdown>
                <small class="ng-dirty ng-invalid" *ngIf="status?.errors?.['required'] && status?.touched">Status is required.</small>
            </div>

            <app-user-autocomplete
                [form]="projectForm"
                controlName="leader"
                [multiple]="true"
                [dropdown]="true"
            ></app-user-autocomplete>
            <div class="field">
                <label for="cover">Cover</label>
                <p-fileUpload
                    id="cover"
                    mode="basic"
                    name="cover"
                    accept="image/*"
                    [maxFileSize]="1000000"
                    styleClass="p-button-outlined p-button-plain"
                    chooseLabel="Upload Image"></p-fileUpload>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onCancel()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSave()"></button>
    </ng-template>

</p-dialog>