<div id="left-side"
class="pb-3 flex text-2xl items-center justify-start w-96 border-b-4 border-orange-line">
<svg class="" width="42" height="42" fill="rgb(242 169	59)" viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg" stroke="rgb(242	169	59)	">
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier">
        <path d="M7.8 10a2.2 2.2 0 0 0 4.4 0 2.2 2.2 0 0 0-4.4 0z"></path>
    </g>
</svg>
<h3 class="text-black font-medium whitespace-pre pl-1 pr-4">{{tableHeader}}</h3>

<div class="bg-gray-200 rounded-full px-2.5 relative
   flex justify-center items-center">
    <p class="text-black  text-xl">{{count}}</p>
</div>
</div>
