<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="right">
                    <p-button
                        pRipple
                        label="New Team"
                        icon="pi pi-plus"
                        class="p-button-primary mr-2"
                        (click)="openNewTeamDialog()"
                    />
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="teams"
                responsiveLayout="scroll"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowHover]="true"
                dataKey="id"
                [globalFilterFields]="['name', 'key', 'description', 'leader.username', 'projectActive']"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <h5 class="m-0">Manage Teams</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $event)"
                                placeholder="Search..."
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="key">
                            Key <p-sortIcon field="key"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">
                            Description
                            <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="leaderId">
                            Lead <p-sortIcon field="leaderId"></p-sortIcon>
                        </th>
                        <th>Members</th>
                        <th pSortableColumn="projectActive">
                            Project Active
                            <p-sortIcon field="projectActive"></p-sortIcon>
                        </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-team>
                    <tr>
                        <td class="flex align-items-center">
                            <p-image
                                [src]="getImage(team?.imageUrl)"
                                [alt]="team?.key"
                                width="100"
                                (onImageError)="onImageError(team)"
                            />
                            <span class="ml-2">{{ team.name }}</span>
                        </td>
                        <td>{{ team.key || "not assigned" }}</td>
                        <td>{{ team.description || "not assigned" }}</td>
                        <td>
                            <div
                                class="flex align-items-center"
                                *ngIf="team.leader"
                            >
                                <p-avatar
                                    [image]="getImage(team.leader?.imageUrl)"
                                    size="large"
                                    shape="circle"
                                    [pTooltip]="team.leader?.username"
                                    tooltipPosition="top"
                                >
                                </p-avatar>
                                <span class="ml-2">{{
                                    team.leader?.username
                                }}</span>
                            </div>
                        </td>
                        <td>
                            <div
                                class="flex gap-2"
                                *ngIf="team.members && team.members.length > 0"
                            >
                                <p-avatar
                                    *ngFor="
                                        let member of team.members?.slice(0, 5);
                                        let i = index
                                    "
                                    [image]="getImage(member.imageUrl)"
                                    size="large"
                                    shape="circle"
                                    [style]="{
                                        'z-index': 5 - i,
                                        'margin-left': i > 0 ? '-0.5rem' : '0'
                                    }"
                                    [pTooltip]="member.username"
                                    tooltipPosition="top"
                                    (click)="removeMember(team, member)"
                                    [style]="{ cursor: 'pointer' }"
                                >
                                </p-avatar>
                                <span
                                    *ngIf="
                                        team.members && team.members.length > 5
                                    "
                                    class="ml-2 flex items-center"
                                >
                                    +{{ team.members.length - 5 || "no members" }}
                                </span>
                            </div>
                        </td>
                        <td>
                            <p-tag
                                [value]="team.projectActive || 'not assigned'"
                                [severity]="
                                    team.projectActive ? 'success' : 'warning'
                                "
                            ></p-tag>
                        </td>
                        <td>
                            <p-button
                                pRipple
                                icon="pi pi-eye"
                                class="p-button-rounded p-button-info mr-2"
                                (click)="navigateToTeamDetail(team)"
                            />
                            <p-button
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-danger"
                                (click)="deleteTeam(team)"
                            />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <app-team-form
            [(visible)]="teamDialog"
            [team]="selectedTeam"
            (teamChange)="onTeamSave($event)"
        ></app-team-form>

        <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
    </div>
</div>
