<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="Add Team" icon="pi pi-plus" class="p-button-success mr-2" (click)="createTeam()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <!-- Table -->
            <p-table #dt [value]="teams" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Teams</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search Team" class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="key">Key <p-sortIcon field="key"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="leaderId">Lead <p-sortIcon field="leaderId"></p-sortIcon></th>
                        <th pSortableColumn="members">Members <p-sortIcon field="members"></p-sortIcon></th>
                        <th pSortableColumn="projectActive">PROJECT ACTIVE <p-sortIcon field="projectActive"></p-sortIcon></th>
                        <!-- <th pSortableColumn="createdAt">Created At <p-sortIcon field="createdAt"></p-sortIcon></th>
                        <th pSortableColumn="updatedAt">Updated At <p-sortIcon field="updatedAt"></p-sortIcon></th> -->
                        <th>More Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-team>
                    <tr>
                        <td>{{ team?.id || '' }}</td>
                        <td>{{ team?.name || '' }}</td>
                        <td>{{ team?.key || '' }}</td>
                        <td>{{ team?.description || '' }}</td>
                        <td>{{ team?.leaderId || '' }}</td>
                        <td>{{ team?.members?.join(', ') || '' }}</td>
                        <td>{{ team?.projectActive || '' }}</td>
                        <!-- <td>{{ team?.createdAt || '' }}</td>
                        <td>{{ team?.updatedAt || '' }}</td> -->
                        <td>
                            <button pButton pRipple icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <app-team-form [(visible)]="teamDialog" [(team)]="team" (onCloseEvent)="hideDialog($event)"></app-team-form>

        <!-- Confirm Delete Dialog -->
        <p-dialog [(visible)]="deleteTeamDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="team">Are you sure you want to delete <b>{{team.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTeamDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>