<!-- eslint-disable @angular-eslint/template/mouse-events-have-key-events -->
<div class="bg-white h-100% p-14">
  <h1 class="text-6xl text-black font-semibold">Teams</h1>

  <div class="mt-32">
    <div
      id="search-bar"
      class="mb-4 gap-2.5 flex items-center md:justify-between text-md"
    >
      <div class="relative w-1/4">
        <input
          type="text"
          placeholder="Search Team"
          class="pl-4 py-3 w-full bg-white border-search-box border-2 rounded-lg text-2xl"
        />
        <app-magneifying-glass-svg/>
      </div>
    </div>

    <div class="table-panel">
      <div id="all-team" class="mb-8 flex justify-between items-center">
        <app-table-header [count]="rowCount" [tableHeader]="tableHeader" />

        <button class="btn-add">
          <div class="flex items-center justify-around w-36 gap-2.5">
            <app-plus-svg/>
            Add User
          </div>
        </button>
      </div>

      <div class="overflow-visible">
        <div class="overflow-hidden overflow-x-auto">
          <app-dynamic-table #dyntable>
            <tr *ngFor="let row of datas">
              <td class="data-padding">
                <app-team-td [teamIcon]="row.teamIcon" [teamName]="row.teamName"/>
              </td>

              <td class="data-padding">
                {{ row.key }}
              </td>

              <td class="data-padding">
                {{ row.description }}
              </td>

              <td class="data-padding">
                <app-icon [imgSrc]="leaderIcon"/>
              </td>

              <td class="data-padding">
                <div class="flex">

                  <app-member-icon [imgSrc]="row.membersIcon[0]" class="z-50"/>

                  <app-member-icon [imgSrc]="row.membersIcon[1]" class="z-40"/>

                  <app-member-icon [imgSrc]="row.membersIcon[2]" class="z-30"/>

                  <div class="avatar w-10 h-10 -ml-1"
                       *ngIf="row.membersIcon.length > 3">
                    <div
                      class="icon-outline bg-gray-300 text-black relative"
                    >
                      <div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2">
                        +{{ row.membersIcon.length - 3 }}
                      </div>
                    </div>
                  </div>
                </div>
              </td>

              <td class="data-padding">
                {{ currentProject }}
              </td>

              <td>
                <div class="dropdown">
                  <div
                    tabindex="0"
                    role="button"
                    class="btn m-1 border-transparent bg-transparent hover:fill-white"
                  >
                  <app-three-dot-svg/>
                  </div>
                  <ul
                    tabindex="0"
                    class="dropdown-content menu bg-white rounded-box w-52 p-2 z-50 shadow text-lg font-medium"
                  >
                    <li><a>Show details</a></li>
                    <li><a>Edit</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </app-dynamic-table>
        </div>
      </div>
    </div>
  </div>
</div>
