<p-card [styleClass]="styleClass">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center p-3">
            <h3 class="m-0">Worked on</h3>
        </div>
    </ng-template>

    <div class="work-items">
        <div *ngFor="let i of [1, 2, 3, 4, 5]" class="work-item flex align-items-start mb-3 p-2">
            <i class="pi pi-file-edit mr-3 mt-1 text-primary"></i>
            <div>
                <div class="font-medium">Work Description</div>
                <div class="text-sm text-color-secondary">
                    Setup Scene • You updated this on June 3, 2024
                </div>
            </div>
        </div>
    </div>
</p-card>