<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="right">
          <div class="my-2">
            <p-button pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="createUser()" />
            <p-button pRipple label="Add FDNet User" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="createAuth()" />
          </div>
        </ng-template>
      </p-toolbar>
      <!-- Table -->
      <app-user-list></app-user-list>
    </div>

    <app-user-form
      [(visible)]="userDialog"
      [(user)]="user"
      (closeEvent)="hideDialog($event)" />
    <app-user-auth-form
      mode="SIGNUP"
      [(visible)]="authDialog"
      (closeEvent)="hideDialog($event)" />
  </div>
</div>
<p-toast></p-toast>