<div class="container px-4">
    <mat-card class="w-96" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group class="flex flex-col items-center gap-4">
                <mat-card-title>Create Task</mat-card-title>
                <img mat-card-lg-image
                    class="object-cover object-top"
                    alt="cover-img"
                    [src]="imgUrl">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <form>
                <div>
                    <div class="label">
                        <span class="label-text">Select cover</span>
                    </div>
                    <input
                        (change)="onChangeFile($event)"
                        type="file"
                        class="file-input file-input-bordered file-input-md text-slate-500"/>
                </div>
                <!-- Summary Input -->
                <label class="form-control">
                    <div class="label">
                        <span class="label-text">Summary</span>
                    </div>
                    <input
                        formControlName="summary"
                        type="text"
                        placeholder="Type here"
                        class="input input-bordered" />
                    <div class="label">
                        <span class="label-text-alt text-error">Error</span>
                    </div>
                </label>
                <!-- Description Input -->
                <label class="form-control">
                    <div class="label">
                      <span class="label-text">Description</span>
                    </div>
                    <textarea class="textarea textarea-bordered h-24"></textarea>
                </label>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </form>
        </mat-card-content>
        <mat-card-actions class="flex flex-row justify-between m-2 gap-4">
            <button type="submit" (click)="onSubmit()" mat-flat-button color="primary" class="w-1/2">Create</button>
            <button mat-button color="tertiary" class="w-1/2">Cancle</button>
          </mat-card-actions>
    </mat-card>
</div>