<p-treeTable #dt [value]="tasks" [columns]="cols" selectionMode="checkbox">
  <ng-template pTemplate="caption">
    <div class="flex justify-content-between flex-column align-items-center sm:flex-row">
      <div>
        <span class="p-input-icon-left mb-2">
          <i class="pi pi-search"></i>
          <input pInputText type="text" #filter (input)="onGlobalFilter(dt, $event)" placeholder="Search Keyword"
            class="w-full" />
        </span>
      </div>
      <div class="flex gap-3">
        <p-button (click)="createTask()" label="Add Epic" class="p-button-outlined mb-2" icon="pi pi-plus" />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr [ttRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode" />
        {{ rowData.id }}
      </td>
      <td>{{ rowData.summary }}</td>
      <td>{{ rowData.type }}</td>
      <td>{{ rowData.status }}</td>
      <td>
        @if (rowData.assignee) {
        <p-chip [label]="rowData.assignee.username" [image]="rowData.assignee.imageUrl" alt="assignee-image" />
        }
        @else {
        <span>Unassigned</span>
        }
      </td>
    </tr>
  </ng-template>
</p-treeTable>