<div *ngIf="user" class="p-grid p-justify-center p-mt-4">
    <div class="p-col-12 p-md-8 p-lg-6">
      <p-card [header]="user.firstName + ' ' + user.lastName" subheader="User Profile">
        <div class="p-grid">
          <!-- Avatar Section -->
          <div class="p-col-12 p-md-4 p-text-center">
            <img [src]="user.imageUrl" [alt]="user.username" class="profile-image" />
          </div>
  
          <!-- User Details Section -->
          <div class="p-col-12 p-md-8">
            <p-fieldset legend="Personal Information">
              <div class="p-grid">
                <div class="p-col-12 p-md-6">
                  <strong>Username:</strong> {{ user.username }}
                </div>
                <div class="p-col-12 p-md-6">
                  <strong>Email:</strong> {{ user.email }}
                </div>
                <div class="p-col-12 p-md-6">
                  <strong>Role:</strong> {{ user.role }}
                </div>
              </div>
            </p-fieldset>
  
            <p-fieldset legend="Additional Information" class="p-mt-3">
              <div class="p-grid">
                <div class="p-col-12">
                  <strong>Joined:</strong> {{ user.createdAt | date }}
                </div>
              </div>
            </p-fieldset>
          </div>
        </div>
      </p-card>
    </div>
  </div>
  
  <div *ngIf="!user" class="p-grid p-justify-center p-mt-4">
    <div class="p-col-12 p-md-8 p-lg-6">
      <p-card header="User Not Found">
        <p>Sorry, the user you are looking for does not exist.</p>
      </p-card>
    </div>
  </div>